{% extends 'reposteria/base.html' %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}
<div class="container mt-5 mb-auto">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    Iniciar Sesión
                </div>
                <div class="card-body">
                    <form action="" method="post" novalidate>

                        {% csrf_token %}
                        {{ form | crispy }}

                        <input type="submit" value="Iniciar Sesión" class="btn btn-primary btn-block mt-3">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}