{% extends 'reposteria/base.html' %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Registro</h2>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {{ form|crispy }}
                        {% if form.errors %}
                            <div class="alert alert-danger">
                                <ul>
                                    {% for field, errors in form.errors.items %}
                                        <li>{{ field }}: {{ errors }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                        <input type="submit" value="Registrarse" class="btn btn-primary btn-block">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
