{% extends 'reposteria/base.html' %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}
<div class="container mt-5">
    <h4 class="mb-4 text-center">Ingresa tu consulta, te contactaremos a la brevedad</h4>
    <div class="row justify-content-center">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-header">
                    <h4>Contacto</h4>
                </div>
                <div class="card-body">
                    <form action="" class="formulario_contacto" method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <br>
                        <input type="reset" value="Limpiar" class="btn btn-secondary">
                        <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar consulta</button>
                    </form>
                    {% if mensaje %}
                        <div class="alert alert-success mt-3" role="alert">
                            {{ mensaje }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
